<div class="w-full lg:px-0">
  <app-mobile-header title="My Account" backLink="/"></app-mobile-header>

  <!-- Profile Card -->
  <div
    class="bg-white rounded-[24px] p-6 flex flex-col md:flex-row md:items-center gap-6 mb-8 shadow-[0_2px_10px_rgba(0,0,0,0.02)] border border-gray-100 cursor-pointer hover:shadow-md transition-shadow lg:hidden"
    routerLink="/account/profile"
  >
    <div class="flex flex-row items-center gap-5 flex-grow">
      <div class="flex-shrink-0">
        <div
          class="w-20 h-20 bg-[#fff0e6] rounded-full flex items-center justify-center text-brand-orange overflow-hidden"
        >
          <ng-icon name="lucideUser" size="40" strokeWidth="1.5"></ng-icon>
        </div>
      </div>

      <div class="flex-grow space-y-1">
        <h2 class="text-xl font-bold text-gray-900">{{ user?.displayName }}</h2>
        <div class="text-gray-500 text-sm">
          {{ user?.email }}
        </div>
      </div>
    </div>
  </div>

  <!-- Menu List -->
  <div
    class="bg-white rounded-[24px] shadow-sm border border-gray-100 overflow-hidden mb-10 lg:hidden"
  >
    <div class="flex flex-col">
      @for (action of quickActions; track action.label; let last = $last) {
        <a
          [routerLink]="action.route ? action.route : null"
          (click)="action.action ? action.action() : null"
          class="flex items-center justify-between p-5 hover:bg-gray-50 transition-colors cursor-pointer group"
          [class.border-b]="!last"
          [class.border-gray-100]="!last"
        >
          <div
            class="flex items-center gap-4 font-bold text-[15px]"
            [ngClass]="{
              'text-[#f65a11]': action.isDestructive,
              'text-gray-800': !action.isDestructive,
            }"
          >
            <div
              class="w-10 h-10 rounded-full bg-gray-50 flex items-center justify-center group-hover:scale-110 transition-transform"
              [ngClass]="{
                'bg-red-50 text-[#f65a11]': action.isDestructive,
                'text-gray-600': !action.isDestructive,
              }"
            >
              <ng-icon [name]="action.icon" size="20" strokeWidth="2"></ng-icon>
            </div>
            {{ action.label }}
          </div>
          <ng-icon
            name="lucideChevronRight"
            size="20"
            class="transition-transform group-hover:translate-x-1"
            [ngClass]="{
              'text-[#f65a11]': action.isDestructive,
              'text-gray-300': !action.isDestructive,
            }"
          >
          </ng-icon>
        </a>
      }
    </div>
  </div>
</div>
